body {
    font-family: 'Roboto', sans-serif;
}

header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgba(187, 187, 187, 1);
    padding: 1rem;
    background-color: rgba(36, 65, 231, 0.2) ;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 1);
}